<div class="author">
    <h1 class="author-heading"><%= locals.owner.welcome %></h1>
    <p class="author-body"><%= locals.owner.description %></p>
    <div class="author-socials">
        <% locals.owner.socials.forEach(socialBadge => { %>
            <a class="author-social" href="<%= socialBadge.link %>" target="_blank">
                <%- socialBadge.symbol ? locals.page.icons[socialBadge.symbol] ? locals.page.icons[socialBadge.symbol]: locals.page.icons["link"] : locals.page.icons["link"] %>
                <%= socialBadge.display %>
            </a>
        <% }) %>
    </div>
</div>

<section class="articles">
    <h2 class="articles-heading">Latest Posts</h2>
    <ul class="article-list">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>
    </ul>
    <a class="pagination" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        View Older Posts
    </a>
</section>